name: MacOS / clang
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: macos-latestmacos-xlarge

    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
          submodules: true

      - name: Checkout LFS objects
        run: git lfs checkout

      - name: Install vcpkg packages
        # vcpkg binary can only be compiled using gcc for now (bootstrap step)
        run: |
         ./vcpkg/bootstrap-vcpkg.sh

      - name: Create Build Environment
        run: |
          cmake -E make_directory ${{runner.workspace}}/build

      - name: Configure CMake
        shell: bash
        working-directory: ${{runner.workspace}}/build
        env:
          CC: /usr/bin/clang
          CXX: /usr/bin/clang++
        run: |
          cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

      - name: Build
        working-directory: ${{runner.workspace}}/build
        shell: bash
        run: |
          cmake --build . --config $BUILD_TYPE -- -j $(sysctl -n hw.logicalcpu)
