name: Windows / msvc
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  VISUAL_STUDIO_PATH: C:\Program Files\Microsoft Visual Studio\2022\Enterprise

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true
          submodules: true
      -  name: Install deps
         shell: cmd
         run: |
           call "${VISUAL_STUDIO_PATH}\VC\Auxiliary\Build\vcvars64.bat"
            .\vcpkg\bootstrap-vcpkg.bat
            .\vcpkg\vcpkg install
      -  name: Build
         shell: cmd
         run: |
           call "${VISUAL_STUDIO_PATH}\VC\Auxiliary\Build\vcvars64.bat"
           md build
           cd build
           cmake -DCMAKE_BUILD_TYPE=Release -G "NMake Makefiles" ..
           nmake
